img{
	max-width:100%;
}
/*Si estas seguro de que todos tus elementos
tendran la misma altura usa float*/
.caja{
	border:1px solid #999;
	box-sizing:border-box;
	color:#444;
	padding:1em;
	/****opcion1******/
	/*float:left;*/
	/*width:50%;*/
	/****opcion2******/
	/*inline-block te deja un espacio en 
	cada elemento*/
	/*display: inline-block;
	width: 49%;*/
	/****opcion3*********/
	/*float:left;
	margin:0.5%;
	width: 32.33%;*/
	/*opcion4*/
	display: inline-block;
	margin:0.5%;
	vertical-align: top;
	width: 31.9%;

}

/* Estrellas de valoración
----------------------------------------------- */
/*https://emiliocobos.net/
calificacion-estrellas-solo-con-css/#

http://codepen.io/ecoal95/pen/BrLhG

http://codepen.io/ecoal95/pen/hxgIz
*/
.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, 
		los `a`) 
	   http://ksesocss.blogspot.com/2012/03/
	   display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le 
		demos padding), 
		sólo aplicará la regla 
		.ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna 
		estrella */
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(39, 130, 228);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}